/* .navbar-center{
    display: flex;
    justify-content: center;
} */
html {
    scroll-behavior: smooth;
}
.home{
    background-color:#9ec0f8;
    /* height: 100vh; */
}
.intro-text{
    color: #000000;
    font-weight: 400
}
.dashboard-data{
background-color:#f8f9fa;
transition: 0.5s ease-in;
}
.dashboard-data:hover{
    background-color: orange;
    transform: scale(1.1);
}
.dashboard-data .data-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.dashboard-data .data-item p{
    font-size: 25px;
}
.dashboard-data .data-item span{
    font-size: 35px;
}
.icon{
    /* color: burlywood; */
    font-size: 28px;
}
.providers{
    background-color: #eeee;
}