body{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #FB663a; */
    background-color: black;
    padding-top: 20px;
  }
  
  .sidebar h2 {
    /* color: #333; */
    color: white;
    text-align: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .sidebar ul li {
    padding: 10px;
    text-align: center;

  }
  
  .sidebar ul li a {
    color: whitesmoke;
    /* color: #333; */
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    border-radius: 24px;
    margin: 30px 0;
    display: block;
    font-weight: 400;
  }
  
  .sidebar ul li a:hover {
    background-color: #e9ecef; /* Lighter gray on hover */
  color: black;
  }
  
  /* Main content */
  .content {
    margin-left: 250px;
    padding: 16px;
  }
  
  .header {
    padding: 16px;
    background-color: #f8f9fa; /* Light gray background */
    color: #333;
    text-align: center;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    /*  */
  }
  
  .card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  }
  .card p{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
  }
  .card .fa-users{
font-size:35px;

  }
  .card .fa-envelope{
    font-size:35px;
      }
      .card .fa-users-cog{
        font-size:35px;
      }